@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

img{
    max-width: 400px;
    max-height: 400px;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'M PLUS Rounded 1c', sans-serif;  
}

body{
    background-color: #0a0908;
    color: white;
    height: 100vh;
}


main{   
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

ul{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    flex-wrap: wrap;
    max-height: 300px;
}

li{
    padding: 5px;
    white-space: nowrap;
    display: inline-block;
}

.album-container{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    max-height: 400px;
}

.album-info{
    margin-left: 20px;
    width: 100%;
}

    